@model UserViewModel

@{
    Layout = "_NoLoginAndNavLayout";
}

<div class="container">
    <div>
        <div class="bg-primary text-white text-center p-4 mt-5 mb-3">Utwórz nowe konto</div>
        <form asp-action="PerformCreate" method="post" class="border-bottom pb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@(ViewBag.ReturnUrl)" />
            <div class="form-group mt-2">
                <label>Nazwa użytkownika</label>
                <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <label>Hasło</label>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <label>Powtórz hasło</label>
                <div><span asp-validation-for="CofirmPassword" class="text-danger"></span></div>
                <input asp-for="CofirmPassword" type="password" class="form-control" />
            </div>
            <div class="form-group mt-2 mb-3">
                <div><span asp-validation-for="AcceptRules" class="text-danger"></span></div>
                <input asp-for="AcceptRules" type="checkbox" class="form-check-input" />
                <label class="form-check-label">Akceptuję regulamin serwisu</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Utwórz konto</button>
        </form>
        <div class="mt-5">
            @if (!String.IsNullOrEmpty(ViewBag.ReturnUrl) && !((string)ViewBag.ReturnUrl).Equals("/"))
            {
                <a class="btn btn-outline-primary" href="@(ViewBag.ReturnUrl)">Powrót</a>
            }
            <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Ratings">Strona główna</a>
        </div>
    </div>
</div>